.game-cards-container {
    display: flex;
    flex-direction: row;
    gap: 45px;
    padding: 0px;
    height: 100%;

    width: 100%;
    overflow-x: auto;       
    overflow-y: hidden;     
    white-space: nowrap;    

    scroll-behavior: smooth;
}

.edit-button, .delete-button {
    font-size: 12px;
    height: 25px;
    width: 80px;
    border-radius: 10px;
    border: solid 2px #00f2ff;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    padding-top:0px;
    padding-left: 15px;
}

.botones-de-accion {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 15px 10px 15px;
}




.game-cards-container::-webkit-scrollbar {
    height: 0px;
}
.game-cards-container::-webkit-scrollbar-thumb {
    background: #2f89ff;
    border-radius: 10px;
}
.game-cards-container::-webkit-scrollbar-track {
    background: #0a0a0a;
}


.game-card {
    flex: 0 0 240px;        
    background: #020023;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 40px;
    padding-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: solid 2px #5e728c;

    
}

eliminar-juego-button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.game-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: solid 2px #5e728c;
    margin-left: auto;
    margin-right: auto;

}

.game-title {
    font-size: 1.1rem;
    padding: 10px 15px 0 15px;
    margin: 0;
    white-space: wrap;
    
}

.game-genre,
.game-description,
.game-release-date {
    padding: 0 15px;
    font-size: 0.85rem;
    color: #ccc;
    white-space: wrap;
}

.game-price {
    padding: 5px 15px;
    font-size: 1.2rem;
    color: #00bbff;
    font-weight: bold;
}

.edit-link, .review-link, .add-review-link {
    text-decoration: none;
    color: #00d0ff;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
    padding-left: 20px;
}
