
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 0, 26);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.Menu {
    width: 100%;
    height: 80px;
    background-color: #061838;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 3px 10px rgba(0, 195, 255, 0.3);
}


.logo img {
    width: 300px;
    height: 300px;
    width: auto;
    object-fit: contain;
}


.cajarutas {
    display: flex;
    gap: 22px;
    align-items: center;
}

.rutas {
    font-size: 14px;
    color: #00d0ff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
}

.rutas:hover {
    scale: 1.1;
    color: #8af9ff;
}


main {
    width: 100%;
    height: 98%;
    margin: 30px;
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
    background-color: #060039;
    border-radius: 10px;
    border-top: 2px solid rgb(0, 225, 255);
    padding: 20px 10px;
    box-shadow: 0px -3px 12px rgba(0, 225, 255, 0.4);
}


.games-wrapper {
    width: 95%;
    padding: 20px 4px;
    overflow: hidden;
    background: #020014;
    border-radius: 12px;
   
    
}


footer {
    width: 100%;
    height: 80px;
    background-color: #061838;
    border-radius: 20px 20px 0 0;
}
