
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #020014;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 225, 255, 0.3);
    margin: 20px auto;
    width: 95%;
}

.nav-link{

    font-size: 12px;
    background-color: #01003f; 
    border: solid 1px #00eaff;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.nav-links {
    display: flex;
    
    justify-content: space-around;
    gap: 15px;
    margin-top: auto;
    
}

.Re-card {
    
    background-color: #060039;
    border: 2px solid #00d0ff;
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.Re-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 195, 255, 0.5);
}

.autor {
    font-size: 1.1rem;
    font-weight: bold;
    color: #00bbff;
    margin-bottom: 8px;
}

.comentario {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.puntuacion {
    font-size: 0.9rem;
    font-weight: bold;
    color: #00f2ff;
    margin-bottom: 5px;
}

.fecha {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 20px;
}


.review-container::-webkit-scrollbar {
    width: 0px;
}

.review-container::-webkit-scrollbar-thumb {
    background: #2f89ff;
    border-radius: 10px;
}

.review-container::-webkit-scrollbar-track {
    background: #0a0a0a;
}
